:root {
  /*Logo - title/subtitle*/
  --color-primary: #F1CDB3;
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-primary-light: #FDDCC4;
  /*options*/
  --color-dark-s: #CDCDCD;
  --color-dark-xl: #4C4C4C;
  --color-dark-l: #545454;
  --color-dark-3xl: #292929;
  --color-dark-m: #B2B2B2;
  --color-light-s:#FAFAFA;
  /*gradient*/
  --start-screen-gradient-background: radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), #211f20;
  --info: rgba(241, 205, 179, 1);
  --additional-info: rgba(255, 255, 255, 1);
}