<footer class="wrapper">
    <div class="d-flex justify-content-evenly">
            <div class="col-md-3 col-xl-3 mt-5">
                <h3>
                    <span>For questions</span>
                    <span class="d-block">and suggestions</span>
                </h3>
                <div class="text-decoration-none">
                    <img src="../img/icon-email.svg" alt="email">
                    <a class="text-decoration-none h4 ms-2" href="mailto:email@shelter.com">email@shelter.com</a>
                </div>
                <div class="text-decoration-none mt-3">
                    <img src="../img/icon-phone.svg" alt="phone">
                    <a class="text-decoration-none h4 ms-2"  href="#">+13 674 567 75 54</a>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mt-5">
                <h3>
                    <span>For questions</span>
                    <span class="d-block">and suggestions</span>
                </h3>
                <div class="text-decoration-none">
                    <img src="../img/pin.svg" alt="email">
                    <a class="text-decoration-none h4 ms-2" href="#">
                        <span>1 Central Street, Boston</span>
                        <span class="d-block ms-4">(entrance from the store)</span>
                    </a>
                </div>
                <div class="text-decoration-none mt-3">
                    <img src="../img/pin.svg" alt="phone">
                    <a class="text-decoration-none h4 ms-2"  href="#">18 South Park, London</a>
                </div>
            </div>
        <img class="pt-4" src="../img/footer-puppy.svg" alt="puppy">
    </div>
</footer>